.main-section {
  padding-top: 100px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(5, 1fr);
}
.smile {
  font-size: 75px;
}
.smile:hover {
  cursor: pointer;
}
.smile::selection {
  background: transparent;
}
.voted-amount {
  font-size: 20px;
  font-family: "Times New Roman";
  text-decoration: underline;
}
