.card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.winner-background {
  background-color: rgb(130, 167, 255);
  border-radius: 20px;
}
.smile {
  font-size: 100px;
  margin: unset;
}
.vote-button {
  padding: 20px;
  border-radius: 20px;
  font-size: 20px;
  background-color: rgb(207, 213, 255);
  border: 3px solid rgb(73, 73, 255);
}
