li {
  font-size: x-large;
  margin-bottom: 10px;
}
li:hover {
  cursor: pointer;
}
#main-section {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
#categories-container {
  flex: 1;
  padding: 45px;
  background-color: rgb(196, 206, 247);
}
#products-container {
  flex: 1;
  padding: 45px;
  background-color: rgb(196, 247, 235);
}
#product-info {
  flex: 1;
  background-color: rgb(247, 245, 196);
  padding: 45px;
}
#product-info h4 {
  font-size: xx-large;
  margin-bottom: 10px;
}
#product-info p {
  font-size: x-large;
  margin-bottom: 10px;
}
#product-info button {
  font-size: xx-large;
  padding: 10px;
  border: 1px solid blue;
  border-radius: 20px;
  background-color: rgb(181, 248, 248);
  margin-bottom: 10px;
}
#product-info button:hover {
  cursor: pointer;
}
#orders-list {
  display: none;
  list-style: lower-latin;
  background-color: rgb(196, 206, 247);
}
#orders-list li {
  list-style: decimal;
  margin-left: 50px;
}
.remove-button {
  padding: 10px;
  margin-left: 50px;
  border: 1px solid rgb(100, 52, 100);
  border-radius: 20px;
  background-color: rgb(247, 245, 196);
}
.remove-button:hover {
  cursor: pointer;
}

#orders-button {
  border: 1px solid purple;
  background-color: rgb(196, 206, 247);
  padding: 20px;
  border-radius: 20px;
  margin-left: 100px;
  margin-top: 20px;
}
#orders-button:hover {
  cursor: pointer;
}
#back-button {
  display: none;
  border: 1px solid purple;
  background-color: rgb(196, 206, 247);
  padding: 20px;
  border-radius: 20px;
  margin-left: 100px;
  margin-top: 20px;
}
#back-button:hover {
  cursor: pointer;
}
#form,
#form-clone {
  display: none;
  align-items: center;
  flex-direction: column;
}
#form:nth-child(n*2),
#form-clone:nth-child(n*2) {
  margin-bottom: 20px;
}
.input-offset {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 15px;
}
#confirm-button {
  background-color: rgb(218, 203, 255);
  border: 1px solid purple;
}
